body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: justify;
    background-color: bisque;
}
.product{
    display:grid;
    grid-template-rows: auto;
    grid-area: auto;
}
.product{
    display:flex;
    height: 30%;
    justify-content: space-between;
    align-items: center;
